<body id="botysbackground">
  <div class="container row">
    <div class="two-rem-title two-rem-margin">Thank you for submitting your wholesaler application!</div>
    <div>
      <div class="two-rem-margin">
          Back of the Yards Co. will carefully review and consider your request, and will be in touch with you with any questions. 
      </div>
 
      <div class="two-rem-margin three-rem-margin-bottom"> 
          If you have any other questions, please feel free to contact us at backoftheyards@email.com 
      </div>
        <a href="/wholesalers/<%=current_customer.wholesaler.id%>" class="waves-effect waves-light btn-large col s12 m12 l3">View Application
        </a>
        <a href="/products" class="waves-effect waves-light btn-large col s12 m12 l3">Continue Shopping
        </a>
        <a href="/customers/dashboard" class="waves-effect waves-light btn-large col s12 m12 l3">My Account
        </a>
    </div>
  </div>
</body>
