
<% if current_customer %>
  <h1 class="center lobster-font gray"> About Becoming a Wholesaler </h1>
  <div id="resize"><%=image_tag("Wholesale_Packet.png", alt: "Unsplashed background img 1")%></div>
    <% if current_customer.wholesaler %>
      <p class="center"> Click to see your <a href="/wholesalers/<%=@current_customer.wholesaler.id%>"> Application</a></p>
    <% else %>
      <h2 class="center lobster-font gray">Interested in Becoming a Wholesaler?</h2>
      <p class="center"> Click here to apply! <a href="/wholesalers/new"> Application</a></p>
    <% end %>
<% else %>
  <h4 class="center lobster-font gray"> Please sign-up or login to access wholesaler application </h4>
<% end %>
