<h1 class="center">Employee Dashboard</h1>
<%@customers.each do |customer| %>
<div style="margin-left:50px;margin-right:50px;width:50%;">
<%=customer.id%>
<%=customer.email%>
</div>
<%end%>



<div>

</div>
