<!DOCTYPE html>
<html>
<head>
  <meta content= 'Application Status' charset="utf-8">
</head>
<body>
  <h1>Application Status</h1>
  <p>We are sorry, but your application has been rejected</p>
</body>
</html>