
<!DOCTYPE html>
<html>
<head>
  <meta content= 'Wholesale application was rejected' charset="utf-8">
</head>
<body>
  <h1>Sorry. Your application was rejected</h1>
  <%= link_to 'Denied', wholesalers_url + '/' + @wholesaler.id.to_s %>
  
<!--    link_to "http://localhost:3000/#{@wholesaler.id}", "Click Me", target: :_blank -->

</body>
</html>