
<!DOCTYPE html>
<html>
<head>
  <meta content= 'Wholesale application has been approved' charset="utf-8">
</head>
<body>
  <h1>Your Application has been approved!</h1>
  <%= link_to 'Start Shopping', root_url %>
  
<!--    link_to "http://localhost:3000/#{@wholesaler.id}", "Click Me", target: :_blank -->

</body>
</html>