<!DOCTYPE html>
<html>
<head>
  <meta content= 'Wholesale application was submitted' charset="utf-8">
</head>
<body>
  <h1>New Wholesaler Application</h1>
  <%= link_to 'View Application on the Website', wholesalers_url + '/' + @wholesaler.id.to_s %>

<!--    link_to "http://localhost:3000/#{@wholesaler.id}", "Click Me", target: :_blank -->

</body>
</html>