---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/orders/or_1B9JM4D5v3nurHsLblGBQ3gS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "or_1B9JM4D5v3nurHsLblGBQ3gS",
          "object": "order",
          "amount": 6729,
          "amount_returned": null,
          "application": null,
          "application_fee": null,
          "charge": null,
          "created": 1507148432,
          "currency": "usd",
          "customer": "cus_BW0belZ0Jmsii2",
          "email": "28733731901",
          "items": [
            {
              "object": "order_item",
              "amount": 2198,
              "currency": "usd",
              "description": "47th Street Blend",
              "parent": "sku_B1KPc4HwjF9Aop",
              "quantity": 2,
              "type": "sku"
            },
            {
              "object": "order_item",
              "amount": 1998,
              "currency": "usd",
              "description": "Blend of Blends",
              "parent": "sku_B1KMjhKL26upMH",
              "quantity": 2,
              "type": "sku"
            },
            {
              "object": "order_item",
              "amount": 0,
              "currency": "usd",
              "description": "Taxes (included)",
              "parent": null,
              "quantity": null,
              "type": "tax"
            },
            {
              "object": "order_item",
              "amount": 2533,
              "currency": "usd",
              "description": "USPS Priority Mail Express",
              "parent": "030eaabd7b144cffb6f5de9a033072af",
              "quantity": null,
              "type": "shipping"
            }
          ],
          "livemode": false,
          "metadata": {},
          "returns": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/order_returns?order=or_1B9JM4D5v3nurHsLblGBQ3gS"
          },
          "selected_shipping_method": "030eaabd7b144cffb6f5de9a033072af",
          "shipping": {
            "address": {
              "city": "Chicago",
              "country": "US",
              "line1": "2059 W 47th St",
              "line2": null,
              "postal_code": "60609",
              "state": null
            },
            "carrier": null,
            "name": " ",
            "phone": null,
            "tracking_number": null
          },
          "shipping_methods": [
            {
              "id": "030eaabd7b144cffb6f5de9a033072af",
              "amount": 2533,
              "currency": "usd",
              "delivery_estimate": {
                "date": "2017-10-06",
                "type": "exact"
              },
              "description": "USPS Priority Mail Express"
            },
            {
              "id": "3b2fb0544fc241c892b756ed8c27122e",
              "amount": 742,
              "currency": "usd",
              "delivery_estimate": {
                "date": "2017-10-06",
                "type": "exact"
              },
              "description": "USPS Priority Mail"
            },
            {
              "id": "a25ac99899db45cda1e18fcba431dfd8",
              "amount": 752,
              "currency": "usd",
              "delivery_estimate": {
                "date": "2017-10-11",
                "type": "exact"
              },
              "description": "USPS Parcel Select"
            }
          ],
          "status": "created",
          "status_transitions": {
            "canceled": null,
            "fulfiled": null,
            "paid": null,
            "returned": null
          },
          "updated": 1507148434
        }
  recorded_at: Tue, 12 Dec 2017 05:10:58 GMT
recorded_with: VCR 3.0.3
