<div style="color:black;">
  <% if @customer.subscriptions.total_count != 0 %>
    <table class="bordered">
      <thead>
        <tr>
          <td>Product</td>
          <td>Price</td>
          <td>Last Payment</td>
        </tr>
      </thead>
      <tbody>
        <% @customer.subscriptions.data.each do |subscription| %>
          <tr>
            <td><%= subscription.items.data[0].plan.name %></td>
            <td><%= number_to_currency(subscription.items.data[0].plan.amount * 0.01) %>/mo</td>
            <td><%= Time.at(subscription.current_period_end).to_datetime.strftime("%d/%m/%Y") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p style="text-align:center;">You have no subscriptions! <a href="/products">Subscribe to some products!</a><p>
  <% end %>
</div>