<h1>Thanks for your purchase!</h1>
<h2>Order Summary</h2>
<% @order.carted_products.each do |carted_product| %>
  <h3>Product name - <%= carted_product.name %></h3>
  <h3>Price - <%= carted_product.price %></h3>
  <h3>Quantity - <%= carted_product.quantity %></h3>
<% end %>

<h3>Tax - <%= @tax %></h3>