<div class="container">
  <h3>About Us</h3>
  <p>
    Back of the Yards Coffee Co. is a specialty coffee roaster located in Chicago's Back of the Yards community. 
    What started as a dream a year ago has began to solidify into a reality. We secured a location for our coffeehouse, and have began 
    roasting and selling our coffee through our coffee club, online, and at farmers markets.
    We not only produce great tasting coffee, but also make a direct social and economic impact in our community. 
    We've established direct relationships with coffee growers in Chiapas, Mexico which allows them to keep more 
    revenue while allowing us to offer high quality specialty coffee in our neighborhood at a reasonable price. 
    This project was founded by lifelong Back of the Yards residents Mayra Hernandez and Jesse Iñiguez. We were 
    recently featured in the Chicago Tribune. 
  </p>
  <p>
    <a href="http://www.chicagotribune.com/news/columnists/schmich/ct-back-of-the-yards-coffee-shop-mary-schmich-0326-20170324-column.html">
    You can read the article here</a>
    <br>
    <%=image_tag("news.jpg", alt: "read the article here")%>
  </p>
</div>
