<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h2 class="center">COFFEE CLUB</h2>
        <br>
        <div class="row center">
          <h5 class="header col s12 light">Back of the Yards Coffee delivered right to your doorstep. <br>Never run out of coffee again.</h5>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4 offset-m5">
          <a href="/products/subscriptions" button class="btn waves-effect waves-light red " type="submit" name="action">Subscribe!
    <i class="material-icons right">send</i>
  </button></a>
    </div>
  </div>
    </div>
    <div class="parallax"><%=image_tag("coffee-subscription2.jpg", alt: "Unsplashed background img 1")%></div>
  </div>
  