<div class="container">
  <h2 class="lobster-font gray">Coffee Club</h2>
  <div class="row">
    <div class="flow-text col s12 m12 l6">
      <div>Freshly roasted Back of the Yards Coffee delivered right to your doorstep. Easy to join and free to change or cancel your subscription at any time.
      </div>
      <div>Here's how to join:</div>
      <div>1. Select a coffee product </div>
      <div>2. Click the shopping cart icon </div>
      <div>3. Select a Plan and add to cart </div>
      <div>It's that simple! Let's get started.</div>
      <div id="go-to-prods-btn">
        <a href="/products" button class="btn waves-effect waves-light botyred" type="submit" name="action">Go to products
        <i class="material-icons right">send</i></a>
      </div>
    </div>
    <div class="col s12 m12 l6"> <%=image_tag("nathan-dumlao-287719.jpg", alt: "Unsplashed background img 1")%>
    </div>
  </div>
</div>
