<div class="container">
  <div class="row">
    <h2 class="lobster-font gray">Coffee Club</h2>
    <div class="column">
      <div class="fix" > <%=image_tag("nathan-dumlao-287719.jpg", alt: "Unsplashed background img 1")%></div>
    </div>
    <div class="column">
      <h5>Fresh Back of the Yards delivered right to your doorstep. You don't have to do a thing. There’s no obligation and you can change your subscription at any time.</h5>
      <h5>Starting at $12 per shipment.</h5>
      <h5>Let’s get started.</h5>
      <br>
      <div>
        <a href="/products" button class="btn waves-effect waves-light botyred " type="submit" name="action">Go to products
      <i class="material-icons right">send</i></a>
      </div>
    </div>
  </div>
</div>