<body id="botysbackground">
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="parallax"><%=image_tag("contactsticky.jpg", alt: "Unsplashed background img 1")%></div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <br>
      <div class="col s12 center"><a href="/menu">Menu</a></div>
      <br>
      <h2 class="lobster-font center gray">Location and Hours</h2>
      <h5 class="roboto-font center gray">773-475-6381</h5>
      <h5 class="roboto-font center gray">info@by.coffee</h5>
      <h5 class="roboto-font center gray">2059 W. 47th St, Chicago, IL 60609</h5>
      <h5 class="roboto-font center gray">Monday-Friday: 7:00am-7:00pm* <br> Saturday-Sunday: 8:00am-5:00pm*</h5>
      <p id="extended-hours" class="center">*hours may be extended in the summer</p>
    </div>
  </div>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="parallax"><%=image_tag("boty-map.png", alt: "Unsplashed background img 1")%></div>
    </div>
  </div>
  <br>
</body>
