<body id="botysbackground">
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="parallax"><%=image_tag("contactsticky.jpg", alt: "Unsplashed background img 1")%></div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <h2 class="lobster-font center gray">Location and Hours</h2>
      <br>
      <h5 class="roboto-font center gray">(312) 487-2233</h5>
      <h5 class="roboto-font center gray">2059 W. 47th St, Chicago, IL 60609</h5>
      <h5 class="roboto-font center gray">Monday - Friday: 6:30am - 7pm | Saturday - Sunday: 9am - 3pm</h5>
    </div>
  </div>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="parallax"><%=image_tag("boty-map.png", alt: "Unsplashed background img 1")%></div>
    </div>
  </div>
  <br>
</body>
