<p>Dear <%=@customer.first_name%>,</p>
<br/>
<p>This email is to notify you that your <%=@customer.current_subscription.plan%> subscription to <%=@customer.current_subscription.product%> at Back of the Yards Coffee has been canceled.</p>
<p>If you believe you received this message in error, please log back into your account or call 312.487.CAFE to resubscribe.</p>
<p>Thank you,</p>
<br/>

<p>Back of the Yards Coffee</p>
