<h1>Subscription Confirmation</h1>
<hr/>
<br/>
<p>Dear <%=@customer.first_name%>,</p>

<p>Thank you for starting a <%=@customer.current_subscription.plan%> subscription with Back of the Yards Coffee for <%=@customer.current_subscription.product%>.</p>
<p>You are confirmed for this subscription and will be charged <%=@customer.current_subscription%>.</p>

<p>You can log into your account to view, modify, or cancel your subscription at any moment.</p>

<p>Thank you for your support!</p>


<p>Back of the Yards Coffee</p>
