<body class="botysbackground">
  <div class="container">
  <%= react_component('Address', customer_address: @customer_address, customer: @customer) %>
    <a class="btn botyred" href="/orders">Complete Order</a>
  </div>
</body>
