/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require phrasing
 *= require_tree .
 *= require_self
 */

@import 'materialize/components/color';
$primary-color: color('blue', 'lighten-2') !default;
$secondary-color: color('yellow', 'base') !default;
@import 'materialize';
@import 'materialize/extras/nouislider';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

// Target Specific Device Size
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .dot {
    margin: 0.7rem;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .dot {
    margin: 0.5rem;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .dot {
    margin: 0.5rem !important;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .dot {
    margin: 0.7rem !important;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .dot {
    margin: 0.3rem !important;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .dot {
    margin: 0rem !important;
  }

  .fit {
    width: 80% !important;
    padding: 1rem;
  }
}
#resize img {
  width: 100%;
  height: auto;
}

.wsmargin {
  margin-bottom: 20px;
}

.boty-box {
  background: white;
  padding: 10px;
  margin-top: 25px;
  border-radius: 25px;
  margin: 10px;
}

i.fa.fa-shopping-cart.cart-icon {
  font-size: 24px;
}

span.badge {
  border-radius: 50%;
  background-color: white;
  font-size: 1rem;
  color: black;
  display: inline !important;
}

footer a {
  font-size: 1.5rem;
}

a.button-collapse.float-right {
  float: right;
}

#botysbackground {
  background-color: #eadec2 !important;
}

#botysbackground-dark {
  background-color: #32404b;
}

a.waves-effect.waves-light.btn {
  margin-bottom: 1rem;
}

.onerem {
  padding: 1rem !important;
}

.h2 {
  font-size: 2.5rem;
}

.dot {
  margin: 0.7rem;
}

.secondary-content {
  color: black;
}

.collection-item > div > input {
  width: 40px;
}
