// Place all the styles related to the CartedProducts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#cart-total {
  font-size: 1.5em;
  margin-right: 20px;
}

.title2 {
  font-family: garamond;
}

.white {
  background-color: white;
  padding: 10px;
}

.tablebody { 

}

.btn-floating {
  margin-left:10px;
}