.login_logout {
  background-image: image-url('coffeepic2.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.form_box {
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 50%;
  padding: 3%;
  background-color: white;
  opacity: 0.8;
  border-radius: 10px;
}
