// Place all the styles related to the Menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#menu_items {
    background-color: white;
    padding-top: 1%;
    padding-left: 3%;
    padding-bottom: 1%;
}

#center_star {
    display: block;
}