@font-face {
  font-family: "Century Gothic";
  src: asset-url('century_gothic_regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lobster";
  src: url('/assets/lobster.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.lobster-font {
  font-family: 'Lobster', cursive;
}

.pangolin-font {
  font-family: 'Pangolin';
}

.roboto-font {
  font-family: 'Roboto', sans-serif;
}

.-font {
  font-family: 'Lobster', cursive;
}


.beige {
  color: #eadec2;
}

.gray {
  color: #32404b;
}

.red {
  color: #ac2b1a;
}

.underline {
  text-decoration: underline;
}

.title {
  font-family: 'Garamond';
  
}

.caps {
  font-size: 1.3em;
}

.disabled {
   pointer-events: none;
   cursor: default;
   color: grey;
}

.active {
  pointer-events: default;
  cursor: hand;
  color: white;
}

.active {
  color: grey;
}

.lobster-font-center {
  text-align: center;
  font-family: 'Lobster', cursive;
}

.star {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
}

.fontwwa {
  font-size: 17px;
}

.wwa {
  padding: 20px 60px 20px 60px;
}

a {
  font-size: 2rem;
}

#extended-hours{
  font-size: .9rem;
}

.section a {
  font-size: 1.68rem;
}