@font-face {
  font-family: "Century Gothic";
  src: asset-url('century_gothic_regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lobster";
  src: url('/assets/lobster.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.lobster-font {
  font-family: 'Lobster', cursive;
}

.pangolin-font {
  font-family: 'Pangolin';
  text-shadow: 2px 2px 2px #000;
}

.roboto-font {
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 1px 1px #000;
}

.-font {
  font-family: 'Lobster', cursive;
}


.beige {
  color: #eadec2;
}

.gray {
  color: #32404b;
}

.red {
  color: #ac2b1a;
}

.underline {
  text-decoration: underline;
}

.title {
  font-family: 'Garamond';
  
}

.caps {
  font-size: 1.3em;
}

.disabled {
   pointer-events: none;
   cursor: default;
   color: grey;
}

.active {
  pointer-events: default;
  cursor: hand;
  color: white;
}

.active {
  color: grey;
}

.lobster-font-center {
  text-align: center;
  font-family: 'Lobster', cursive;
}

.star {
  display: inline-block;
  height: 40px;
  // width: 40px;
  padding-left: 665px;
}
