/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;
  padding: 2em;
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 2em;
  padding: 2em;
}

.box-1 {
  color: #32404b;
  border: 2px solid #ac2b1a;
  border-radius: 20px;
  padding: 20px;
  margin: auto;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.box-2 {
  color: #32404b;
  border: 2px solid #ac2b1a;
  border-radius: 20px;
  padding: 30px;
  margin: 20px;
  text-transform: uppercase;
  letter-spacing: .2em;

}

.box-3 {
  color: #32404b;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-right: 20px;
  font-size: 32px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;

}

.page-footer a:link { 
  padding: 20px;
  color: ;
}

.social-media-logo {
  height:40px;
  width:40px;
}

.padding-top {
  padding-top: 15px;
}

.inputError { 
  border-bottom: 2px solid yellow !important;
}




