/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;
  padding: 2em;
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 2em;
  padding: 2em;
}

.box-1 {
  color: #32404b;
  border: 2px solid #ac2b1a;
  border-radius: 20px;
  padding: 20px;
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.box-2 {
  color: #32404b;
  border: 2px solid #ac2b1a;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 1em;
}

.cart-table {
  margin: auto;
}

.review-btn {
  margin: 1rem;
}

.box-3 {
  color: #32404b;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-right: 20px;
  font-size: 32px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.page-footer a:link {
  padding: 20px;
}

.social-media-logo {
  height: 40px;
  width: 40px;
}

.padding-top {
  padding-top: 15px;
}

.inputError {
  border-bottom: 2px solid yellow !important;
}

nav .nav-wrapper .button-collapse i {
  color: white !important;
}

.side-nav li > a {
  color: rgba(0, 0, 0, 0.87) !important;
  display: block !important;
  font-size: 14px !important;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
}

img {
  max-width: 100%;
}

div#go-to-prods-btn {
  padding: 10px;
}

img#nav-bar-logo {
  max-height: 100% !important;
}

.side-nav .divider {
  margin: !important0;
}

/*Responsive media query*/

html {
  font-size: 100%;
}

@media (min-width: 640px) {
  body {
    font-size: 1rem;
  }
}

@media (min-width: 960px) {
  body {
    font-size: 1.2rem;
  }
}

@media (min-width: 1100px) {
  body {
    font-size: 1.5rem;
  }
}

/* Nav bar responsive menu icon*/
i#menu-btn {
  color: white !important;
}

/* Order Summary Page */

dt {
  float: left;
  width: 156px;
}
