// Place all the styles related to the Wholesalers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wholesaler-bg {
  background-image: url('jon-moore-399489.jpg');
  background-size: 1100px;
  opacity: 0.7; 
  font-size: 25px;
  border-radius: 7px;
  padding-bottom: 2%;
}
.info-column {
  padding: 10px;
  background: rgba(235, 223, 195, 0.55);
  border-radius: 7px;
  margin-bottom: 1%;
}

.whitetext {
  color: white;
}

.container-title {
    font-weight: bold;
    font-size: 27px;
    border-radius: 25px;
    border: 2px solid #444;
    padding: 7px;
}

.container-info {
  padding-left: 25px;
}

.wholesaler-form {
    border: 2px solid black;
    border-radius: 30px;
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
    padding: 1.2rem;
}

.border {
  border: 1px solid black;
}

.two-px-border {
  border: 2px solid black;
}

#wholesaler-img {
    -webkit-filter: brightness(70%); /* Safari 6.0 - 9.0 */
    filter: brightness(10%);
}

#wholesaler-terms {
  padding: 1rem;
}

.two-rem-margin {
  margin-top: 2rem;
}

.three-rem-margin-bottom
{
  margin-bottom: 3rem;
}

.two-rem-title {
  font-size: 2rem;

}

a.waves-effect.waves-light.btn-large.col.s12.m12.l3 {
    margin: 1rem;
}

.vendor-links{
  font-size: 2.5rem;
}