// Place all the styles related to the Wholesalers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wholesaler-bg {
  background-image: url('jon-moore-399489.jpg');
  background-size: 1100px;
  opacity: .7;
}