<div class="container">
  <div id="EditForm">
    <%=form_tag "/categories/#{@category.id}", method: :patch do %>
    Name:
    <div class="row">
    <input type="text" name="name" value="<%=@category.name%>">
    
    <div><input class="btn col l3 m3 s10 btn-padding" type="submit" value="Save"></div>
    <%end%>
    <%= form_tag "/categories/#{@category.id}", method: :delete do %>
    <div><input class="btn col l3 m3 s10 btn-padding" type="submit" value="Delete Category"></div>
    <div><a href="/menu" class="btn col l3 m3 s10 btn-padding">Cancel</a>
    </div>
    <%end%>
    </div>
  </div>
</div>
