<div class="container">
<%=form_tag "/categories", methond: :post do %>

<div class="row">
  Name:
  <input type="text" name="name">
</div>

<div class="row">
  <input class="btn" type="submit" name="submit">
</div>

<%end%>

</div>
