<div id="modal2" class="modal modal-fixed-footer" style="color: white">
    <div class="modal-content">
        <h4>Please sign out as an employee to buy things</h4>
    </div>
     <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>