  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 left">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h5>Fresh beans in your mailbox!</h5>
          <h6>Fresh Back of the Yards, every month, delivered right to your doorstep. You don't have to do a thing!</h6> 
          <h6>Never run out of coffee again. Starting at $12 per shipment.</h6>
        </div>
      </div>
    
      <div class = "row" >
        <%@subscriptions.each do |subscription|%>
        <div class ="col s12 m4">
          <div class="card medium">
            <div class= "card-image">
              <img class="activator">
              <p class="center"> <%=image_tag("botycover.jpg", alt: "Unsplashed background img 3")%></p>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"><%=subscription.name%></span>
              </span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><%=subscription.name%>
                <i class="material-icons right">close</i></span>
              <p><%=number_to_currency(subscription.amount.to_f / 100)%> a month.</p>
              <a href="/subscriptions" button class="btn waves-effect waves-light red " type="submit" name="action">Go to product</a>
            </div>
          </div>
        </div>
        <%end%>
      </div>
    </div>
  </div>