<footer class="page-footer">

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col l12 m12 s12 center">
          <a href="/"><i class="fa fa-home fa-2x" aria-hidden="true"></i> Home </a>
          <a href="/contact"><i class="fa fa-phone-square fa-2x" aria-hidden="true"></i> Contact Us</a>
          <a href="/faqs"><i class="fa fa-question-circle fa-2x" aria-hidden="true"></i> FAQs</a>
        </div>
      </div>
      <div class="row">
        <div class="col l12 m12 s12 center">
          <a href="https://www.facebook.com/BackoftheYardsCoffee/" target="_blank"><i class="fa fa-facebook fa-2x"" aria-hidden="true"></i></a>
          <a href="https://www.instagram.com/backoftheyardscoffeeco/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
          <a href="https://twitter.com/theyards_coffee?lang=en" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="container center">
      <p>&copy; 2018 Back of the Yards Coffee Co. All rights reserved.</p>
    </div>
</footer>
