<footer class="page-footer white">
  
  <div class="footer-copyright" style="color:grey">
    <div class="container">
    
        <tr>
          <td><a href="https://www.facebook.com/BackoftheYardsCoffee/"<i class="fa fa-facebook fa-2x" style="color:grey" aria-hidden="true"></i></a></td>
          <td><a href="https://www.instagram.com/backoftheyardscoffeeco/"><i class="fa fa-instagram fa-2x" style="color:grey" aria-hidden="true"></i></a></td>
          <td><a href="https://twitter.com/theyards_coffee?lang=en"><i class="fa fa-twitter fa-2x" style="color:grey" aria-hidden="true"></i></a></td>
        </tr>
         <br>

      <br>&copy; 2017 Back of the Yards Coffee Co. | All rights reserved.
      <br>
      312.487.CAFE
    </div>
  </div>
</footer>

<i class="icon-ok-sign" style="color:grey"></i>