<footer class="page-footer grey">
  <div class="container">
    <div class="row">
      
      <div class="col l3 s12">
        <h5 class="white-text" align="middle">Connect with Us</h5>
        <tr>
          <td><a href="https://www.facebook.com/BackoftheYardsCoffee/"<i class="fa fa-facebook fa-2x" style="color:white" aria-hidden="true"></i></a></td>
          <td><a href="https://www.instagram.com/backoftheyardscoffeeco/"><i class="fa fa-instagram fa-2x" style="color:white" aria-hidden="true"></i></a></td>
          <td><a href="https://twitter.com/theyards_coffee?lang=en"><i class="fa fa-twitter fa-2x" style="color:white" aria-hidden="true"></i></a></td>
        </tr>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <br>&copy; 2017 Back of the Yards Coffee Co. All rights reserved.
      <br>
      312.487.CAFE
    </div>
  </div>
</footer>

<i class="icon-ok-sign" style="color:white"></i>