<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <%= stylesheet_link_tag   'application', media: 'all' %>
</head>
<body class="login_logout">
  <div class="form_box">
    <%= yield %>
  </div>
</body>
</html>
