<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <%= stylesheet_link_tag   'application', media: 'all' %> 
</head>
<body class="login_logout">
  <div style="margin: auto; width: 50%; border: 2px solid green; padding: 10px; background-color: grey;">
    <%= yield %>
  </div>
</body>
</html>